<?xml version="1.0" encoding="UTF-8"?>
<routes>

<!-- News -->
	<route url="/admin/" 											module="News" 		action="index" />
	<route url="/admin/news"										module="News" 		action="index" />
	<route url="/admin/news-insert\.html" 							module="News" 		action="insert" />
	<route url="/admin/news-update-([0-9]+)\.html" 					module="News" 		action="update" vars="id" />
	<route url="/admin/news-delete-([0-9]+)\.html" 					module="News" 		action="delete" vars="id" />
<!-- Materiel --> 
	<route url="/admin/materiel" 									module="Materiel" 	action="index" />
	<route url="/admin/materiel-insert\.html" 						module="Materiel" 	action="insert" />
	<route url="/admin/materiel-update-([0-9]+)\.html"				module="Materiel" 	action="update" vars="id" />
	<route url="/admin/materiel-delete-([0-9]+)\.html" 				module="Materiel" 	action="delete" vars="id" />
<!-- Categorie materiel -->
	<route url="/admin/categorie" 									module="Categorie" 	action="index" />
	<route url="/admin/categorie-insert\.html" 						module="Categorie" 	action="insert" />
	<route url="/admin/categorie-update-([0-9]+)\.html" 			module="Categorie" 	action="update" vars="id" />
	<route url="/admin/categorie-delete-([0-9]+)\.html" 			module="Categorie" 	action="delete" vars="id" />
<!-- Categorie client -->
	<route url="/admin/client" 										module="Client" 	action="index" />
	<route url="/admin/client-insert\.html" 						module="Client" 	action="insert" />
	<route url="/admin/client-update-([0-9]+)\.html" 				module="Client" 	action="update" vars="id" />
	<route url="/admin/client-delete-([0-9]+)\.html" 				module="Client" 	action="delete" vars="id" />
<!-- Categorie devis -->
	<route url="/admin/devis" 										module="Devis" 	action="index" />
	<route url="/admin/devis-insert\.html" 							module="Devis" 	action="insert" />
	<route url="/admin/devis-update-([0-9]+)\.html" 				module="Devis" 	action="update" vars="id" />
	<route url="/admin/devis-delete-([0-9]+)\.html" 				module="Devis" 	action="delete" vars="id" />	
</routes>